@model IEnumerable<WebProgrammingProject.Models.Flight_Details>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";

}
<style>
    .create {
        margin-top: 50px;
    }
</style>

<h2>Index</h2>

<p class="create">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Flight_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source_Name)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination_Name)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure_Date_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival_Date_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacitiy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Flight_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure_Date_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival_Date_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacitiy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Flight_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Flight_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Flight_ID })
            </td>
        </tr>
    }

</table>